[Desktop Entry]
Comment[en_US]=
Comment=
Exec=code .
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=Link to Application
Name=Link to Application
Path=/home/demensdeum_stream/Sources/NixyPlayer/extensions/base/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
